a,
form {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

h3,
h4 {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    font-weight: 400;
}

#index-title {
    background-color: rgb(255, 187, 52);
}

#index-visited {
    background-color: rgb(255, 66, 105);
}

#index-yet {
    background-color: rgb(66, 66, 255);
}

#index-upcoming {
    background-color: rgb(66, 255, 105);
}

#title {
    color: mistyrose;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    font-weight: 900;
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-content {
    position: relative;
    z-index: 99;
}

.hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
}

.hover-1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
}

.hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
}
.hover-1:hover .hover-1-content {
    bottom: 2rem;
}
.hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
}
.hover-1:hover img {
    left: 0;
}
.hover-1:hover .hover-overlay {
    opacity: 0;
}